linkify-it-py==2.1.0
markdown-it-py==4.0.0
mdit-py-plugins==0.5.0
mdurl==0.1.2
mutagen==1.47.0
pillow==12.2.0
platformdirs==4.9.6
Pygments==2.20.0
pygame==2.6.1
pymediainfo==7.0.1
rich==15.0.0
rich-pixels==3.0.1
textual==8.2.4
typing_extensions==4.15.0
uc-micro-py==2.0.0
